---
services:

  broker:
    image: apache/kafka:${KAFKA_VERSION}
    hostname: broker
    container_name: broker
    ports:
      - "9092:9092"
    volumes:
      - ./trogdor/agent/trogdor-agent0.sh:/tmp/trogdor/agent/trogdor-agent.sh
      - ./trogdor/agent/trogdor-agent0.conf:/tmp/trogdor/agent/trogdor-agent.conf
    environment:
      KAFKA_NODE_ID: 101
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_TOOLS_LOG4J_LOGLEVEL: ERROR
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "101@broker:29093,102@broker2:29093,103@broker3:29093"
      KAFKA_LISTENERS: "PLAINTEXT://broker:9092,CONTROLLER://broker:29093"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"
      KAFKA_LOG4J_LOGGERS: "org.apache.kafka.image.loader.MetadataLoader=WARN"
      CLUSTER_ID: "9apCDWinSSO_DuT_GJVsFw"

  broker2:
    image: apache/kafka:${KAFKA_VERSION}
    hostname: broker2
    container_name: broker2
    ports:
      - "9093:9093"
    volumes:
      - ./trogdor/agent/trogdor-agent1.sh:/tmp/trogdor/agent/trogdor-agent.sh
      - ./trogdor/agent/trogdor-agent1.conf:/tmp/trogdor/agent/trogdor-agent.conf
    environment:
      KAFKA_NODE_ID: 102
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker2:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_TOOLS_LOG4J_LOGLEVEL: ERROR
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "101@broker:29093,102@broker2:29093,103@broker3:29093"
      KAFKA_LISTENERS: "PLAINTEXT://broker2:9093,CONTROLLER://broker2:29093"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"
      KAFKA_LOG4J_LOGGERS: "org.apache.kafka.image.loader.MetadataLoader=WARN"
      CLUSTER_ID: "9apCDWinSSO_DuT_GJVsFw"

  broker3:
    image: apache/kafka:${KAFKA_VERSION}
    hostname: broker3
    container_name: broker3
    ports:
      - "9094:9094"
    volumes:
      - ./trogdor/agent/trogdor-agent2.sh:/tmp/trogdor/agent/trogdor-agent.sh
      - ./trogdor/agent/trogdor-agent2.conf:/tmp/trogdor/agent/trogdor-agent.conf
    environment:
      KAFKA_NODE_ID: 103
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker3:9094
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_TOOLS_LOG4J_LOGLEVEL: ERROR
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "101@broker:29093,102@broker2:29093,103@broker3:29093"
      KAFKA_LISTENERS: "PLAINTEXT://broker3:9094,CONTROLLER://broker3:29093"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"
      KAFKA_LOG4J_LOGGERS: "org.apache.kafka.image.loader.MetadataLoader=WARN"
      CLUSTER_ID: "9apCDWinSSO_DuT_GJVsFw"

  kafka-perf:
    image: kafka-perf-image:1.0.0
    hostname: kafka-perf
    container_name: kafka-perf
    volumes:
      - ./trogdor/coordinator:/tmp/trogdor/coordinator
    depends_on:
      - broker
      - broker2
      - broker3
    stdin_open: true
    tty: true
